

{% extends "amachef/base_generic.html" %}
{% block title %}Category detail{% endblock %}
{% block content %}
    <span onclick="location.href='{% url 'recipes:categories' %}'" class="tag  is-light is-medium">
        <a class="is-link">Categories</a></span>
    <h3 class="title">{{ category.title }}</h3>
    <h4 class="subtitle">{{ category.description }}</h4>

    <br>

    {% for post in category.category_posts.all %}
        {% include 'recipes/render_recipe_short.html' %}
    {% endfor %}

{% endblock %}