{% extends "amachef/base_generic.html" %}



{% block content %}

    <div class="level">
        <div class="level-left">
            <div class="tabs is-toggle is-toggle-rounded">
                <ul class="level-item">
                    {% for categ in top_categories %}
                        <li><a class="navbar-item" href="{% url 'recipes:category-detail' categ.id %}">{{ categ.title }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="level-right">
            {% if user.is_authenticated %}
                <div class="level-item">
                    <button class="button is-primary" onclick="location.href='{% url 'recipes:post-create' %}'">Post a recipe!</button>
                </div>

            {% endif %}
        </div>
    </div>


    <section>

        <div class="level">
            <div class="level-left"><h3 class="level-item title">Fresh recipes</h3></div>
            <div class="level-right"><a class="level-item button" href="{% url 'recipes:fresh_all' %}">See all</a></div>
        </div>

        <div class="columns is-multiline is-desktop">
            {% for post in posts %}
                <div class="column is-one-third">
                    {#                            {{ post.date_posted }}#}
                    {% include 'recipes/render_recipe_short_img.html' %}
                </div>
            {% endfor %}
        </div>


    </section>

    <br>
    <hr class="navbar-divider"><br>

    <section>

        <div class="level">
            <div class="level-left"><h3 class="level-item title">Highest rated recipes</h3></div>
            <div class="level-right"><a class="level-item button" href="{% url 'recipes:top_all' %}">See all</a></div>
        </div>

        <div class="columns is-multiline is-desktop">
                {% for post in top_posts %}
                    <div class="column is-one-third">
                        {% include 'recipes/render_recipe_short_img.html' %}
                    </div>
                {% endfor %}
            </div>


    </section>

{% endblock content %}




