{% extends "amachef/base_generic.html" %}



{% block content %}

    <div class="level">
        <div class="level-left">
            <div class="tabs is-toggle is-toggle-rounded">
                <ul class="level-item">
                    {% for categ in top_categories %}
                        <li><a class="navbar-item" href="{% url 'recipes:category-detail' categ.id %}">{{ categ.title }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="level-right">
            {% if user.is_authenticated %}
                <div class="level-item">
                    <button class="button is-primary" onclick="location.href='{% url 'recipes:post-create' %}'">Post a recipe!</button>
                </div>

            {% endif %}
        </div>
    </div>


    <section>
        <div class="container">

            <h3 class="title">Fresh recipes</h3>

            <div class="columns is-multiline is-desktop">
                {% for post in fresh_posts %}
                    <div class="column is-one-third">
                        {{ post.date_posted }}
                        {% include 'recipes/render_recipe_short_img.html' %}
                        <br>
                    </div>
                {% endfor %}

            </div>


            {% include 'recipes/pagination.html' %}


        </div>
    </section>




{% endblock content %}




