{% extends "amachef/base_generic.html" %}




{% block content %}
    <section>
        <div class="container">
            {% if user.is_authenticated %}
                <button class="button is-primary" onclick="location.href='{% url 'recipes:post-create' %}'">Post a recipe!
                </button>
                <br><br>
            {% endif %}

            <h3 class="title">Fresh recipes</h3>


            <div class="columns is-multiline is-mobile">
                {% for post in posts %}
                    <div class="column">

                        {% include 'recipes/render_recipe_short_img.html' %}




                        <br>
                    </div>
                {% endfor %}

            </div>


            {% include 'recipes/pagination.html' %}

        </div>
    </section>


{% endblock content %}




