{% extends "amachef/base_generic.html" %}
{% block content %}
    <section>
        <div class="container">
            {% if user.is_superuser or user.profile.is_moderator %}
            <h3 class="title">Hidden Recipes</h3>


            <div class="columns is-multiline is-mobile">
                {% for post in posts %}
                    <div class="column">

                        {% include 'recipes/render_recipe_short_img.html' %}

                        <br>
                    </div>
                {% endfor %}

            </div>


            {% include 'recipes/pagination.html' %}
            {% else %}
            <h1>YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE!</h1>
            {% endif %}
        </div>
    </section>


{% endblock content %}