

{% extends "amachef/base_generic.html" %}

{% block content %}
    <br>
    <span onclick="location.href='{% url 'recipes:fresh' %}'" class="tag  is-light is-medium"><a class="is-link">Recipes</a></span>

    <br><br>


    {% include 'recipes/render_recipe_long.html' %}



    {#    <div class="post" style="border:solid">#}
    {#        <p> {{ post.title }} </p>#}
    {#        <p> {{ post.description }} </p>#}
    {#        <p> {{ post.ingredients }} </p>#}
    {#        <p> {{ post.directions }} </p>#}
    {#        <p> the amount is {{ post.amount }} </p>#}
    {#        <p> the category is {{ post.category_new }} </p>#}
    {#        <p> the cooking_time is {{ post.cooking_time }} </p>#}
    {#        <a href='{% url 'users:profile-view' post.author.id %}'>made by {{ post.author }}</a>#}
    {#    </div>#}


    <br>

















{% endblock %}
