<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "amachef/base_generic.html" %}

    {% block content %}
        <div class="post" style="border:solid">
            <p> {{ post.title }} </p>
            <p> {{ post.description }} </p>
            <p> {{ post.ingredients }} </p>
            <p> {{ post.directions }} </p>
            <p> the amount is {{ post.amount }} </p>
            <p> the category is {{ post.category_new }} </p>
            <p> the cooking_time is {{ post.cooking_time }} </p>
            <p> made by {{ post.author }}</p>
        </div>
    {% if user.is_authenticated and not post.author == user %}
    <a href="{% url 'recipes:post-create' %}">Copy recipe</a>
    {% endif %}
    <br>
    {% if post.author == user %}
    <a href="{% url 'recipes:post-update' post.id %}">Edit recipe</a>
    <a href="{% url 'recipes:post-delete' post.id %}">Delete recipe</a>
    {% endif %}
    {% endblock %}
</head>
<body>

</body>
</html>