<h3 class="subtitle is-5">Reviews</h3>

{% if user.is_authenticated and not post.author == user %}
    <div class="columns is-mobile">
        <div class="column is-one-third">


            <form id="post-form" action="{% url 'recipes:rate' post.id %}" method="POST">{% csrf_token %}
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">{{ form.stars }}</div>
                        <div class="level-item">{{ form.comment }}</div>
                    </div>

                </div>
                <input class="button" type="submit" value="Post comment">
            </form>

        </div>
    </div>

    <br>
{% endif %}

<div id="results">

    {% if post.rating_set.all %}
        {% for rating in post.rating_set.all %}
            {% include 'recipes/render_one_comment.html' %}
        {% endfor %}
    {% else %}

        <div id="no_ratings_div">
            <article class="message">
                <div class="message-body">No ratings yet.</div>
            </article>

        </div>



    {% endif %}
</div>

