<h3>Reviews</h3>

{% if user.is_authenticated and not post.author == user %}
    <form id="post-form" action="{% url 'recipes:rate' post.id %}" method="POST">{% csrf_token %}
        <div class="fieldWrapper">
            {{ form.stars }}
            {{ form.comment }}
        </div>
        <input class="button" type="submit" value="Post comment">
    </form>
    <br>
{% endif %}


{% if post.rating_set.all %}
    {% for rating in post.rating_set.all %}
        {% include 'recipes/render_one_comment.html' %}
    {% endfor %}
{% else %}

    <br>
    <article class="message">
        <div class="message-body">No ratings yet.</div>
    </article>

{% endif %}