<div class="message">

    <div class="message-header">

        <div style="float:left;">

            {% with ''|center:rating.stars as range %}
                {% for _ in range %}
                    <span style="display:inline;" class="material-icons disable-select">star_border</span>
                {% endfor %}
            {% endwith %}

        </div>


        {% if rating.author.id == user.id %}
            <button class="delete is-link" id="button_delete_comment" onclick="location.href='{% url 'recipes:rating_delete' post.id rating.id %}'">Delete</button>
        {% elif user.profile.is_moderator or user.is_superuser %}
            <button class="delete is-link" style="background: #f14668" id="button_delete_comment" onclick="location.href='{% url 'recipes:rating_delete' post.id rating.id %}'">
                Delete
            </button>
        {% endif %}
    </div>


    <div class="message-body">

        <p>{{ rating.comment }}</p>
        <p class="un" onclick="location.href='{% url 'users:profile-view' rating.author.id %}"><strong> - {{ rating.author }}</strong></p>


    </div>

</div>