{% extends "amachef/base_generic.html" %}



{% block content %}

    {% with posts|first as recepte %}

        <h2 class="title">Profile</h2>

        <div class="columns is-desktop">

            <div class="column is-one-third">

                <span class="subtitle is-3">{{ recepte.author.username }}</span><br>
                <span>
                {% if recepte.author.is_superuser %}
                    Administrator
                {% elif  recepte.author.profile.is_moderator %}
                    Moderator
                {% else %}
                    User
                {% endif %}
                </span>

            </div>


            <div class="column is-one-third">

                {% if user.is_superuser %}
                    {% if recepte.author.profile.is_moderator %}
                        <a class="button is-danger" href="{% url 'users:user_demotion' recepte.author.id %}">Demote</a>
                    {% elif not recepte.author.is_superuser %}
                        <a class="button is-danger" href="{% url 'users:user_promotion' recepte.author.id %}">Promote</a>
                    {% endif %}

                {% endif %}

            </div>


            <div class="column is-one-third">
                <form id="report-profile-form" action="{% url 'users:report_profile' user.id %}" method="POST">{% csrf_token %}
                    <div class="fieldWrapper">
                        <input name="report_profile" id="report_message" placeholder="Reason of report"></input>
                    </div>
                    <input class="button" type="submit" value="Post report">
                </form>
            </div>

        </div>











    {% endwith %}






    <span class="subtitle">Posted recipes</span><br><br>



    {% for post in posts %}
        {% include 'recipes/render_recipe_short.html' %}
    {% endfor %}
{% endblock %}