{% extends "amachef/base_generic.html" %}


{% block content %}
    <form id="report-profile-form" action="{% url 'users:report_profile' user.id %}" method="POST">{% csrf_token %}
        <div class="fieldWrapper">
            <input name="report_profile" id="report_message" placeholder="Reason of report"></input>
        </div>
        <input class="button" type="submit" value="Post report">
    </form>
    {% with posts|first as lietotajvards %}
        <h3> {{ lietotajvards.author.username }}</h3>
    {% endwith %}
    {% for post in posts %}
        <div class="post" style="border:solid">
            <a class="post-title" href="{% url 'recipes:post-detail' post.id %}">{{ post.title }} </a>
            <p> {{ post.description }} </p>
            <p> {{ post.ingredients }} </p>
            <p> {{ post.directions |safe }} </p>
            <p> the amount is {{ post.amount }} </p>
            <p> the category is {{ post.category_new }} </p>
            <p> the cooking_time is {{ post.cooking_time }} </p>
            <p> made by {{ post.author }}</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}