{% extends "amachef/base_generic.html" %}
{% block content %}

    <h2 class="title">Sign Up Form</h2>

    <div class="columns is-desktop">
        <div class="column is-half is-offset-one-quarter">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}


                {#                {{ field.label_tag }}#}
                {#                {{ field }}#}

                {#                    {% if field.help_text %}#}
                {#                        <small style="color: grey">{{ field.help_text }}</small>#}
                {#                    {% endif %}#}



                {% for non_field_error in form.non_field_errors %}
                    <p class="help is-danger">{{ non_field_error }}</p>
                {% endfor %}
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.html_name }}" class="label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                {% endfor %}
                <input class="button is-primary" type="submit" value="Sign up">
            </form>
        </div>
    </div>
{% endblock %}