.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


.click_card:hover, .click_box:hover {
    cursor: pointer;
    background: aliceblue;
}


.click_card, .click_box {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

footer {

    bottom: 0;
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.burger:h