{% extends "amachef/base_generic.html" %}
{% block title %}About - AmaChef{% endblock %}

{% block content %}


    <h1 class="title">About</h1>
    <p class="subtitle">AmaChef - A Nyan Cat Inc. company</p>
    <h2 class="subtitle is-5">Built by</h2>



    <div class="columns is-desktop">

        <div class="column is-one-third">
            <div class="card click_card" onclick="location.href='https://github.com/Stelvis'">
                <div class="card-image">
                    <figure class="image is-3by3">
                        <img src="https://avatars3.githubusercontent.com/u/59607891?s=9" alt="Placeholder image">
                    </figure>
                </div>

                <div class="card-content">
                    <div class="content">
                        Elvis Stapkēvičs
                    </div>
                </div>
            </div>


        </div>

        <div class="column is-one-third">

            <div class="card click_card" onclick="location.href='https://github.com/KasparsPDs'">
                <div class="card-image">
                    <figure class="image is-3by3">
                        <img src="https://avatars0.githubusercontent.com/u/65785503?s=60&v=4" alt="Placeholder image">
                    </figure>
                </div>

                <div class="card-content">
                    <div class="content">
                        Kaspars Pudāns
                    </div>
                </div>
            </div>


        </div>
        <div class="column is-one-third">

            <div class="card click_card" onclick="location.href='https://github.com/romansj'">
                <div class="card-image">
                    <figure class="image is-3by3">
                        <img src="https://avatars3.githubusercontent.com/u/30439620?s=460&u=f6d45e0115c28dfb1601f407f11138829a83d7f7&v=4" alt="Placeholder image">
                    </figure>
                </div>

                <div class="card-content">
                    <div class="content">
                        Jānis Romāns
                    </div>
                </div>
            </div>

        </div>

    </div>


    <a href="https://github.com/romansj/tt2_project">Project's GitHub page</a>

    <br><br>
    <h1 class="title">Contact Us</h1>


    <a class="button is-link is-rounded" href="mailto:amachefDF@gmail.com?subject=Amachef%20feedback">Submit
        feedback</a>



{% endblock %}