<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'amachef/styles.css' %}">


    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/images/safari-pinned-tab.svg' %} color='#5bbad5'">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


</head>
<body>
<div class="grid-container">
    <ul class="menu align-center">
        <li><a href="#">Search</a></li>
    </ul>


    <ul class="menu align-center">


        {% if not user.is_authenticated %}
            <li><a href="{% url 'users:signup' %}">Sign up</a></li>
            <li><a href="{% url 'login' %}">Login</a>
        {% endif %}
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.first_name }}!</p>
            <li><a href="{% url 'logout' %}">Logout
            <li><a href="{% url 'recipes:post-create' %}">Create a post!</a>



        {% endif %}


    </ul>


    <ul class="menu align-center">
        <li><a href="{% url 'recipes:fresh' %}">Recipes</a></li>
        <li><a href="{% url 'calculators' %}">Calculators</a></li>
        <li><a href="{% url 'settings' %}">Settings</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
    </ul>



    <div>
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>